.cartSection {
    display: flex;

    justify-content: center;

    margin: 85px 10px;
}

.cartTable {
    margin-right: 35px;
}

.cartCalculate {
    display: flex;
    flex-direction: column;

}


@media (max-width: 1380px) {
    .cartTable {
        margin-right: 0px;
    }

    .cartSection {
        flex-direction: column;
        align-items: center;
    }

    .cartCalculate {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .cartCalculate {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .cartTable {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cartSection {
        margin-left: 0px;
        margin-right: 0px;
    }
    .cartCalculate {
        width: 95%;
    }
}
