footer.container {
    color: whitesmoke;
    position: relative;
    

    background-image: url("../../assets/images/footerSrc/footer_bg_2.jpg");
    background-size: cover;
}
footer.container::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-color: rgb(255, 255, 255,0.05);
}
.colInfo *, .trademarks * {
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: rgb(231, 231, 231);
    text-decoration: none;
}
a:hover {
    color: whitesmoke;
    text-decoration: none;
}


.colInfo {
    width: 100%;

    padding-left: 0;
    padding-right: 0;
    display: flex;

    padding-top: 2rem;
    padding-bottom: 1rem;
    justify-content: center;
}
.colInfo div.col {
    margin: 0 10rem;
}

.colUpper {
    display: flex;
}
.colUpper ul {
    font-size: 1.6rem;
    font-weight: bold;
    word-spacing: 0.07rem;
    letter-spacing: 0.08rem;

    line-height: 2.75rem;
}
div.colUpper {
    padding: 0 10rem;

    border-right: 2px solid rgba(199, 199, 199, 0.849);
}


.colInfo .col {
    font-size: 1.35rem;
    font-weight: 300;

    line-height: 2rem;
}
.colInfo .col ul li:first-child {
    font-size: 1.6rem;
    font-weight: 600;
}



.trademarks {
    margin-top: 1rem;
}
.icon {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}
.icon img {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 3rem;

}
.trademarks .row:last-child {
    text-align: center;

    font-size: 1.35rem;
    font-weight: 100;
    padding-top: 0.3rem;
    padding-bottom: 1.5rem;
}