footer.container {
    background-image: url("./footer_bg_2.jpg");
    color: whitesmoke;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.guideLinks {
    padding-top: 1rem;
}

.colUpper {
    padding: 0;
}
.colUpper ul {
    padding: 0 1.25rem;
    font-weight: bold;
}



.colInfo {
    padding-left: 0;
    padding-right: 0;
}
.colInfo .row {
    margin: 0;
}
.colInfo .colHeader {
    font-weight: bold;
}


.trademarks {
    margin-top: 1rem;
}
.trademarks .row {
    justify-content: center;
    margin: 0;
}
.icon {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}
.icon li {
    margin-left: 1rem;
    margin-right: 1rem;
}
.trademarks .row:last-child {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}